.DS_Store
Thumbs.db
db.json
/avatar.png
*.log
node_modules/
public/
.deploy*/

# Systemd service files (system specific)
~/.config/systemd/user/stock-api.service
~/.config/systemd/user/stock-frontend.service
